<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <div class="container">
        <div class="d-flex justify-content-center h-100">
          <div class="image_outer_container">
            <div class="green_icon"></div>
            <div class="image_inner_container">
              <img src="https://yt3.ggpht.com/ytc/AAUvwnggKV40oVjF4SGADNHPfCtb2z2AQcGA4zXR6hI=s900-c-k-c0x00ffffff-no-rj">
            </div>
          </div>
        </div>
      </div>
    </div>
    <mat-card-title>Employee: {{data.name}}</mat-card-title>
    <mat-card-subtitle>ID: {{data.id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="card-content">
      <div>
        <mat-icon class="mat-icon" >today</mat-icon>
        <span>BirthDay: {{data.date | date:'dd/MM/yyyy'}}</span>
      </div>
      <div>
        <mat-icon class="mat-icon" >credit_card</mat-icon>
        <span>ID Card: {{data.id_card}}</span>
      </div>
      <div>
        <mat-icon class="mat-icon" >call</mat-icon>
        <span>Phone: {{data.phone}}</span>
      </div>
      <div>
        <mat-icon class="mat-icon" >email</mat-icon>
        <span>Email: {{data.email}}</span>
      </div>
      <div>
        <mat-icon class="mat-icon" >home</mat-icon>
        <span>Address: {{data.address}}</span>
      </div>
      <div>
        <mat-icon class="mat-icon" >group</mat-icon>
        <span>Position: {{data.position}}</span>
      </div>
      <div>
        <mat-icon class="mat-icon" >school</mat-icon>
        <span>Education: {{data.education}}</span>
      </div>
      <div>
        <mat-icon class="mat-icon" >work_outline</mat-icon>
        <span>Department: {{data.department}}</span>
      </div>
      <div>
        <mat-icon class="mat-icon" >attach_money</mat-icon>
        <span>Salary : {{data.salary}} $</span>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions align="end">
    <button  mat-button (click)="close()">CLOSE</button>
  </mat-card-actions>
</mat-card>
