<h2 class="text-center">Student Update</h2>
<form [formGroup]="regStudentForm" (ngSubmit)="onSubmit()" class="col-md-6 offset-md-3">
    <div class="form-group row" hidden>
        <label class="col">
            ID
            <input type="text" class="form-control" formControlName="id" >
        </label>
    </div>
    <div class="form-group row">
        <label class="col">
            Name
            <input type="text" class="form-control" formControlName="name" >
        </label>
    </div>
<!--    <div *ngFor="let validation of validation_messages.name">-->
<!--        <div class="alert-danger"-->
<!--             *ngIf="regStudentForm.get('name').hasError(validation.type) && (regStudentForm.get('name').dirty || regStudentForm.get('name').touched)">-->
<!--            {{validation.message}}</div>-->
<!--    </div>-->
    <div class="form-group row">
        <label class="col">
            Address
            <input type="text" class="form-control" formControlName="address">
        </label>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="regStudentForm.get('address').invalid && regStudentForm.get('address').touched">
        <span *ngIf="regStudentForm.get('name').hasError('required')">Address is required</span>
    </div>
    <div class="form-group row">
        <label class="col">
            Age
            <input type="number" class="form-control" formControlName="age" >
        </label>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="regStudentForm.get('age').invalid && regStudentForm.get('age').touched">
        <span *ngIf="regStudentForm.get('age').hasError('required')">Age is required</span>
    </div>
    <div class="form-group row">
        <label class="col">
            Mark
            <input type="number" class="form-control" formControlName="mark" >
        </label>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="regStudentForm.get('mark').invalid && regStudentForm.get('mark').touched">
        <span *ngIf="regStudentForm.get('mark').hasError('required')">Mark is required</span>
    </div>
    <div class="form-group">
        <button class="btn btn-success" type="submit">Save</button>
    </div>

</form>

